name: release

on:
  push:
    tags: ["v*.*.*"]

env:
  IMAGE_NAME: nginx_server
  REGISTRY: ghcr.io
  PACKAGE_PATH: porthorian/portfolio
  BUILD_VERSION: ${{ github.ref_name }}

permissions:
  packages: write

jobs:
  build:
    name: Build and Release Container Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      # - name: html to pdf
      #   uses: fifsky/html-to-pdf-action@master
      #   with:
      #     htmlFile: ./public/index.html
      #     outputFile: ./public/resume.pdf
      #     pdfOptions: '{"format": "A4", "margin": {"top": "10mm", "left": "10mm", "right": "10mm", "bottom": "10mm"}}'
      - name: Set Tag
        run: |
          echo "TAG=${{ env.REGISTRY }}/${{ env.PACKAGE_PATH }}/${{ env.IMAGE_NAME }}:${{ env.BUILD_VERSION }}" >> $GITHUB_ENV
      - name: Build Image
        run: |
          docker build \
          --tag ${{ env.TAG }} \
          .
      - name: Publish Image
        run: |
          docker push ${{ env.TAG }}
